.detail-topbar {
  background: #cccccc;
  padding: 10px;
  height: 30px;
  line-height: 1;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5em;
  padding: 0.5em;
}

.sprite {
  height: 200px;
  width: 200px;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
  object-fit: contain;
  background-color: beige;
  margin: 10px;
}

.ability-item {
  height: 30px;
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 2px;
  background: #eeeeee;
  line-height: 1.5;
}
