.searchbar-container{
    background: #cccccc;
    padding: 10px;
}

.data-item{
    height: 30px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2px;
    background: #eeeeee;
    line-height: 1.5;
}